<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optifolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="..\static\css\main.css">
<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
</head>

{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>

<nav id="sidebar" style="float:left;">
    <div class="sidebar-header"><img src = "{% static 'images/logo_P1OydgH.png'%}"><span class="opt">Optifolio</span></div>
    <div id="navbarNav">
      <ul class="list-unstyled components">
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'summary' %}">Portfolia</a>

        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'visualisationpage' %}">Wizualizacja</a>
        </li>
        {% if request.user.is_staff %}
        {% else %}
        <li class="active">
          <a class="nav-link sideprzycisk align-items-center" href="{% url 'account' %}">Ustawienia</a>
        </li>
        
        {% endif %}
      </ul>
    </div>
  </nav>
      <span class="float-right active" style="padding-top:30px;padding-left:5px;padding-right:70px;"><a href="{% url 'logout' %}" style="text-decoration:none;color:black;">Logout</a></span>
    <span class="float-right" style="color:black;padding-top:30px;">Hello, {{request.user}}</span>

  </html>