<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optifolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="..\static\css\main.css">
<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
</head>

{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>

<nav style="height:50px;" class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <img src = "{% static 'images/logo_P1OydgH.png'%}">
    <div id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'summary' %}">Podsumowanie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'visualisationpage' %}">Wizualizacja</a>
        </li>
        {% if request.user.is_staff %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Ustawienia</a>
        </li>
        
        {% endif %}
      </ul>
    </div>
    <span class="hello-msg ml-auto">Hello, {{request.user}}</span>
    <span><a class="hello-msg ml-auto"  href="{% url 'logout' %}">Logout</a></span>
  </nav>
  </html>