{% extends 'optifolio/main.html' %}

{% block content  %}
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3 id="smth-1">
                <div class="card-header">
                    <h5 class="card-title">Smth1</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{smth_1}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3 id="smth-2">
                <div class="card-header">
                    <h5 class="card-title">Smth2</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{smth_2}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3 id="smth-3">
                <div class="card-header">
                    <h5 class="card-title">Smth3</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{smth_3}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3 id="smth-4">
                <div class="card-header">
                    <h5 class="card-title">Smth4</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{smth_4}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}