{% extends 'optifolio/main.html' %} 

{% block content %}
<div class="container container-max-width-md float-left" style="margin-top:150px;">
<table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kup/Sprzedaj</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Liczba akcji</th>
        <th scope="col">Kurs</th>
        <th scope="col">Opłata</th>
      </tr>
    </thead>
    <tbody>
      {% for temp in visdata %}
      <tr>
        <th scope="row">{{ temp.title }}</th>
        <td>{{ temp.buy_sell }}</td>
        <td>{{ temp.date }}</td>
        <td>{{ temp.shares_number }}</td>
        <td>{{ temp.course }}</td>
        <td>{{ temp.fare }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
