{% extends 'optifolio/main.html' %} 

{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kup/Sprzedaj</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Liczba akcji</th>
        <th scope="col">Kurs</th>
        <th scope="col">Opłata</th>
      </tr>
    </thead>
    <tbody>
      {% for temp in visdata %}
      <tr>
        <th scope="row">{{ temp.title }}</th>
        <td>{{ temp.buy_sell }}</td>
        <td>{{ temp.date }}</td>
        <td>{{ temp.shares_number }}</td>
        <td>{{ temp.course }}</td>
        <td>{{ temp.fares }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
