{% extends 'optifolio/main.html' %} 

{% block content %}

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kup/Sprzedaj</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Liczba akcji</th>
        <th scope="col">Kurs</th>
        <th scope="col">Opłata</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for temp in visdata %}
        <th scope="row">{{ temp.title }}</th>
        <td>{{ temp.buy_sell }}</td>
        <td>{{ temp.date }}</td>
        <td>{{ temp.shares_number }}</td>
        <td>{{ temp.course }}</td>
        <td>{{ temp.fares }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
{% endblock %}
